<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
    <h1>Iniciar Sesión</h1>
    <form method="POST">
        Email: <input type="email" name="email" required><br>
        Password: <input type="password" name="password" required><br>
        <input type="submit" value="Entrar">
    </form>
    <a href="{{ url_for('registro') }}">¿No tienes cuenta? Regístrate</a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
